/** page **/

* {
    font-family: arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #e4dcef;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** identity **/

.identity {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    margin: auto;
    padding: 5%;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.9);
}

.identity a,
.identity a:visited,
.identity a:active {
}

.identity a:hover {
    text-decoration: none;
}

.identity__name {
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 16px;
}

.identity__desc {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.identity__contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 24px;
}

.identity__contact dt {
    min-width: 15%;
    margin-right: 2%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.identity__contact dt:after {
    content: ':';
}

/** color theme **/

body {background: #eeeeee;}
.identity {color: #404f59;}
.identity a,
.identity a:visited,
.identity a:active {color: #003fb5;}
.identity a:hover {}
.identity__name {color: #303841;}
.identity__desc {}
